.container {
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 1200px) {
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  text-align: center;
}

input {
  padding: 10px 15px;
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 12px;
}

form {
  display: flex;
  gap: 10px;
  input {
    width: 400px;
  }
  button {
    padding: 10px 15px;
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 12px;
    font-weight: semibold;
    cursor: pointer;
  }
}
.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}
.cards-container {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 8px 12px;
  min-width: fit-content;
  &__header {
    display: flex;
    gap: 12px;
    align-items: center;
    img {
      border-radius: 12px;
    }
    .favorite {
      margin-left: auto;
      cursor: pointer;
      color: transparent;
      &.filled {
        color: #fee300e8;
      }
    }
  }
  &__detail {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    text-transform: capitalize;
    dt {
      font-weight: 700;
      color: #464242;
    }
    dd {
      margin-left: 0;
    }
  }
}
